[submodule "external/CBR-Ontology-For-Predictive-Maintenance"]
	path = external/CBR-Ontology-For-Predictive-Maintenance
	url = https://github.com/jjmj128/CBR-Ontology-For-Predictive-Maintenance.git
	ignore = dirty
